@(componentForm: Form[Component])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Add a component</h1>
    
    @form(routes.Application.save()) {
        
        <fieldset>
        
        <div class="controls span3">
            @inputText(componentForm("name"), '_label -> "Component name")
            @inputText(componentForm("componentDetail.datasource_class_code"), '_label -> "Data source code")
            @inputText(componentForm("componentDetail.datasource_class_name"), '_label -> "Data source Class Name")
            @inputText(componentForm("owner"), '_label -> "Owner")

            @select(
                componentForm("component_type.id"), 
                options(ComponentType.options), 
                '_label -> "Component Type", '_default -> "-- Choose a component type --",
                '_showConstraints -> false
            )
            @inputText(componentForm("componentDetail.address"), '_label -> "Address")
            @inputText(componentForm("componentDetail.material"), '_label -> "Material")
			@inputText(componentForm("componentDetail.length_3d"), '_label -> "Length")
            @inputText(componentForm("componentDetail.diameter"), '_label -> "Diameter")            
            </div>
            <div class="controls span2">

            
           </div>
            <div class="controls span3">
            @inputText(componentForm("componentDetail.installation_year"), '_label -> "Installation Year")
            @inputText(componentForm("componentDetail.x1"), '_label -> "X")
            @inputText(componentForm("componentDetail.y1"), '_label -> "Y")
            @inputText(componentForm("componentDetail.z1"), '_label -> "Z")
            @inputText(componentForm("componentDetail.extraWaterMeter"), '_label -> "extraWaterMeter")
            @inputText(componentForm("componentDetail.CCTVConditionMeter"), '_label -> "CCTVConditionMeter")
            @inputText(componentForm("componentDetail.operationalDisturbance"), '_label -> "operationalDisturbance")
            @inputText(componentForm("componentDetail.socialSensitivity"), '_label -> "socialSensitivity")
            </div>
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this component" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}