@(pipeIndex: Form[models.form.PipeIndex], currentSortBy: String, currentOrder: String,
pipeIndexSummary: models.wrapper.PipeIndexSummary.PipeIndexSummaryUI)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Application.pipeIndex(newPage, sortBy, order)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main {



<div class="adjustmentRow" class="row">
	<h1 id="homeTitle">@Messages("pi.pipe.title")</h1>
</div>

<div class="accordion" id="accordion2">
	<form class="form-horizontal" action="@routes.Application.pipeIndex(0)" method="GET">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
					data-parent="#accordion2" href="#collapseOne"></a>
			</div>
			<div id="collapseOne" class="accordion-body collapse in">
				<div class="accordion-inner">
					<div class="controls span6" id="sensitivity-div">
						<div class="control-group">
							<label class="control-label bold-label">CONSEQUENCE INDEX</label>
						</div>
						<div class="control-group">
							<label class="control-label bold-label">Set limit values for consequence meters</label>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Pipe diameter (mm)</label>
							<div class="controls">
								<span class="amount"></span>
								<div class="slider range-slide">
									<div class="slide" value="333,686" min="25" max="1000">
										<span id="min">min:25</span>
								    	<span id="max">max:1000</span>
								    </div>
								</div>
								<span class="help-inline">pipe diameter caution limit</span>	
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lGroundWater">Ground water area (0..3)</label>						
							<div class="controls">
								<span class="amount"></span>
								<div class="slider range-slide">	
									<div class="slide" value="1,2" min="0" max="3">
										<span id="min">min:0</span>
								    	<span id="max">max:3</span>								    
									</div>
								</div>								
								<span class="help-inline">0: not significant to 3: highly significant</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Lateral gravity sewers</label>						
							<div class="controls">
								<table class="table table-bordered">
									<tbody>
										<tr> 
											<td class="controls span1 green">
												<label class="radio inline middle">
												  <input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1"> insignificant 
												</label>
											</td>
											<td class="controls span1 yellow">
												<label class="radio inline">
												  <input type="radio" name="optionsRadios" id="inlineCheckbox2" value="option2"> average
												</label>
											</td>
											<td class="controls span1 red">
												<label class="radio inline">
												  <input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option2"> significant
												</label>
											</td>
										</tr>
									</tbody>
								</table>				
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Collection sewers</label>						
							<div class="controls">
								<table class="table table-bordered">
									<tbody>
										<tr> 
											<td class="controls span1 green">
												<label class="radio inline middle">
												  <input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1"> insignificant 
												</label>
											</td>
											<td class="controls span1 yellow">
												<label class="radio inline">
												  <input type="radio" name="optionsRadios" id="inlineCheckbox2" value="option2"> average
												</label>
											</td>
											<td class="controls span1 red">
												<label class="radio inline">
												  <input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option2"> significant
												</label>
											</td>
										</tr>
									</tbody>
								</table>				
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Gravity sewer mains</label>						
							<div class="controls">
								<table class="table table-bordered">
									<tbody>
										<tr> 
											<td class="controls span1 green">
												<label class="radio inline middle">
												  <input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1"> insignificant 
												</label>
											</td>
											<td class="controls span1 yellow">
												<label class="radio inline">
												  <input type="radio" name="optionsRadios" id="inlineCheckbox2" value="option2"> average
												</label>
											</td>
											<td class="controls span1 red">
												<label class="radio inline">
												  <input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option2"> significant
												</label>
											</td>
										</tr>
									</tbody>
								</table>				
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Pressure sewers</label>						
							<div class="controls">
								<table class="table table-bordered">
									<tbody>
										<tr> 
											<td class="controls span1 green">
												<label class="radio inline middle">
												  <input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1"> insignificant 
												</label>
											</td>
											<td class="controls span1 yellow">
												<label class="radio inline">
												  <input type="radio" name="optionsRadios" id="inlineCheckbox2" value="option2"> average
												</label>
											</td>
											<td class="controls span1 red">
												<label class="radio inline">
												  <input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option2"> significant
												</label>
											</td>
										</tr>
									</tbody>
								</table>				
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Relative floor area (m<sup>2</sup>/m)</label>											
							<div class="controls">
								<span class="amount"></span>
								<div class="slider range-slide">
									<div class="slide" value="16,33" min="0" max="51">
										<span id="min">min:0</span>
								    	<span id="max">max:50.6</span>								    
									</div>
								</div>							
								<span class="help-inline">floor area m<sup>2</sup>/ length of pipes</span>	
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Road classification (1..4)</label>						
							<div class="controls">
								<span class="amount"></span>
								<div class="slider range-slide">	
									<div class="slide" value="1,3" min="4" max="1">
										<span id="min">min:4</span>
								    	<span id="max">max:1</span>								    
									</div>
								</div>								
								<span class="help-inline">1:Regional main street 1, 2:Regional main street 2, 3:Local main street, 4:Collector street</span>	
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Beach distance (m)</label>						
							<div class="controls">
								<span class="amount"></span>
								<div class="slider range-slide">	
									<div class="slide" value="66,133" min="0" max="200">
										<span id="min">min:</span>
								    	<span id="max">max:200</span>								    
									</div>
								</div>										
								<span class="help-inline">distance between the areal overflow structure and the nearest beach</span>	
							</div>
						</div>

					</div>

					<div class="controls span6">
						
						<div class="control-group">
							<label class="control-label bold-label">CONDITION INDEX</label>
						</div>
						<div class="control-group">
							<label class="control-label bold-label">Set limit values for condition meters</label>
						</div>

						<div class="control-group">
							<label class="control-label" for="lWasteWater">Blockages</label>						
							<div class="controls">
								<span class="amount"></span>
								<div class="slider range-slide">	
									<div class="slide" value="1,3" min="0" max="4">
										<span id="min">min:0</span>
								    	<span id="max">max:4</span>								    
									</div>
								</div>									
								<span class="help-inline">total number of blockage events of a pipe</span>	
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Flushing events</label>						
							<div class="controls">
								<span class="amount"></span>
								<div class="slider range-slide">	
									<div class="slide" value="5,10" min="0" max="17">
										<span id="min">min:0</span>
								    	<span id="max">max:17</span>								    
									</div>
								</div>	
								<span class="help-inline">total number of flushing events of a pipe</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Extra Water (%)</label>						
							<div class="controls">
								<span class="amount"></span>
								<div class="slider range-slide">	
									<div class="slide" value="6,12" min="0" max="19">
										<span id="min">min:0</span>
								    	<span id="max">max:18.8</span>								    
									</div>
								</div>	
								<span class="help-inline">wastewater flow / (0.8 x water consumption)</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">CCTV defects</label>						
							<div class="controls">
								<span class="amount"></span>
								<div class="slider range-slide">	
									<div class="slide" value="11,22" min="0" max="34">
										<span id="min">min:0</span>
								    	<span id="max">max:34</span>								    
									</div>
								</div>	
								<span class="help-inline">sum of all CCTV inspection defects (1 to 4) of a pipe</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">CCTV major defects</label>					
							<div class="controls">
								<span class="amount"></span>
								<div class="slider range-slide">	
									<div class="slide" value="8,17" min="0" max="26">
										<span id="min">min:0</span>
								    	<span id="max">max:26</span>								    
									</div>
								</div>	
								<span class="help-inline">sum of CCTV inspection defects 3 and 4 of a pipe</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Over flow (m<sup>3</sup>/year)</label>					
							<div class="controls">
								<span class="amount"></span>
								<div class="slider range-slide">	
									<div class="slide" value="33,66" min="0" max="100">
										<span id="min">min:0</span>
								    	<span id="max">max:100</span>								    
									</div>
								</div>	
								<span class="help-inline">annual overflow (m<sup>3</sup>) of the area</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<input type="submit" id="searchsubmit"
			value="Refresh index calculation" class="btn btn-primary">
	</form>

</div>
<h5 id="homeTitle">Index Calculation Summary</h5>
	<table class="table table-bordered table-hover">
		<tbody>
			<tr>
				<td class="controls span4">@Messages("pipeIndex.summary.allIndexPipeLength")</td>
				<td class="controls span2">386.5 km</td>
				<td class="controls span4">@Messages("pipeIndex.summary.conditionAndConsequenceIndexPipeLength")</td>
				<td class="controls span2">@((math rint pipeIndexSummary.conditionAndConsequencePipeLength * 100) / 100) km</td>
			</tr>
			<tr>
				<td class="controls span4">@Messages("pipeIndex.summary.consequenceIndexLimit")</td>
				<td class="controls span2">@pipeIndexSummary.consequenceLimit</td>
				<td class="controls span4">@Messages("pipeIndex.summary.conditionIndexLimit")</td>
				<td class="controls span2">@pipeIndexSummary.conditionLimit / 5.0 (unispected)</td>
			</tr>
			<tr>
				<td class="controls span4">@Messages("pipeIndex.summary.consequenceIndexPipeLength")</td>
				<td class="controls span2">@((math rint pipeIndexSummary.consequenceIndexPipeLength * 10) / 10) km</td>
				<td class="controls span4">@Messages("pipeIndex.summary.conditionIndexPipeLength")</td>
				<td class="controls span2">@((math rint pipeIndexSummary.conditionIndexPipeLength * 10) / 10) km</td>
			</tr>
			<tr>
				<td class="controls span4">@Messages("pipeIndex.summary.consequenceIndexPipeLengthInspected")</td>
				<td class="controls span2">@((math rint pipeIndexSummary.consequenceIndexPipeLengthInspected * 10) / 10) km</td>
				<td class="controls span4">@Messages("pipeIndex.summary.conditionIndexPipeLengthInspected")</td>
				<td class="controls span2">@((math rint pipeIndexSummary.conditionIndexPipeLengthInspected * 10) / 10) km</td>
			</tr>
			<tr>
				<td class="controls span4">@Messages("pipeIndex.summary.consequenceIndexPipeLengthNotInspected")</td>
				<td class="controls span2">@((math rint pipeIndexSummary.consequenceIndexPipeLengthNotInspected * 10) / 10) km</td>
				<td class="controls span4">@Messages("pipeIndex.summary.conditionIndexPipeLengthNotInspected")</td>
				<td class="controls span2">@((math rint pipeIndexSummary.conditionIndexPipeLengthNotInspected * 10) / 10) km</td>
			</tr>
		</tbody>
	</table>
<div class="actions">
	<a href="@routes.Application.sendFile()" class="btn">Export index results</a>
</div>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<style>
.ui-slider { 
	position: relative;
	text-align: left; 
	//background: #F84831;
	background: #1AF230;
}
.slide-back {
    position:absolute;
    height:100%;
}
.slider span { position: absolute; top: -5px}
.ui-slider-range { background: #F2FA0A; }
#idmini { width: 50 px; text-align: center}
#idmaxi { width: 50px; text-align: center}
#min { left: 2px; font-size: 12px; font-weight: bold}
#max { right: 2px; font-size: 12px; font-weight: bold}
#accordion2 {font-weight:bold;}
#homeTitle {font-weight: bold;}
</style>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(document).ready(function(){
	$(".range-slide div.slide").each(function() {
		values = $(this).attr('value').split(',');
	    firstVal = values[0];
	    secondVal = values[1];
	    rangeSpan = $(this).parent().siblings('span.amount');
	    
		// Update colors
		var doUpdate = function(event, ui) {
			$("this .slide-back").remove();
			$($(".slide a").get().reverse()).each(function(i) {
				var bg = '#1AF230';
				if(i == 3) {
					bg = 'F84831';
				}
				$(".slide").append($('<div></div>').addClass('slide-back').width($(this).position().left - 5).css('background', bg));
			});
		};		
		
		$(this).slider({
	    	values: [firstVal , secondVal],
	    	min: parseInt($(this).attr('min')),
	    	max:  parseInt($(this).attr('max')),
	    	range: true,
	    	slide: function(event, ui) {
				$(this).parent().siblings('span.amount').html("" + ui.values[0] + " - " + ui.values[1]);
				//doUpdate();
	    	}
		});
		
		rangeSpan.html("" + $(this).slider("values", 0) + " - " + $(this).slider("values", 1));
		//doUpdate();
	});
});
</script>
}				