@(pipeIndex: Form[models.form.PipeIndex], currentSortBy: String, currentOrder: String,
pipeIndexSummary: models.wrapper.PipeIndexSummary.PipeIndexSummaryUI)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Application.pipeIndex(newPage, sortBy, order)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main {

<div class="adjustmentRow" class="row">
	<h1 id="homeTitle">@Messages("pi.pipe.title")</h1>
</div>

<div class="accordion" id="accordion2">
	<form class="form-horizontal" action="@routes.Application.pipeIndex(0)" method="GET">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
					data-parent="#accordion2" href="#collapseOne"></a>
			</div>
			<div id="collapseOne" class="accordion-body collapse in">
				<div class="accordion-inner">
					<div class="controls span6" id="sensitivity-div">
						<div class="control-group">
							<label class="control-label bold-label">CONSEQUENCE INDEX</label>
						</div>
						<div class="control-group">
							<label class="control-label bold-label">Set limit values for consequence meters</label>
						</div>

						<div class="control-group">
							<label class="control-label" for="lWasteWater">Pipe diameter (mm)</label>
							<div class="controls">
								@inputText( field = pipeIndex("wasteWaterLimit"), 
								args = 'type -> "text", '_label -> "", 'id -> "lWasteWater")
								<span class="help-inline">pipe diameter caution limit</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lGroundWater">Ground water area (0..3)</label>						
							<div class="controls">
								@inputText( field = pipeIndex("groundWaterAreaLimit"), 
								args = 'class -> "input-mini", 'type -> "text", '_label -> "", 'id -> "lGroundWater")
								<span class="help-inline">0: not significant to 3: highly significant</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Pipe type </label>						
							<div class="controls">
								@inputText( field = pipeIndex("pressurePipeLimit"), 
								args = 'class -> "input-mini", 'type -> "text", '_label -> "")
								<span class="help-inline">0: gravitation pipe, 1: pressure pipe</span>					
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Relative floor area </label>											
							<div class="controls">
								@inputText( field = pipeIndex("floorAreaLimit"), 
								args = 'class -> "input-mini", 'type -> "text", '_label -> "")
								<span class="help-inline">m<sup>2</sup>/m pipe</span>	
							</div>
						
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Road classification </label>						
							<div class="controls">
								@inputText( field = pipeIndex("roadClassLimit"), 
								args = 'class -> "input-mini", 'type -> "text", '_label -> "")
								<span class="help-inline">1:highway to 4:connection road (add 2 and 3)</span>	
							</div>
						</div>

					</div>

					<div class="controls span6">
						
						<div class="control-group">
							<label class="control-label bold-label">CONDITION INDEX</label>
						</div>
						<div class="control-group">
							<label class="control-label bold-label">Set limit values for condition meters</label>
						</div>

						<div class="control-group">
							<label class="control-label" for="lWasteWater">Blockages</label>						
						<div class="controls">
								@inputText( field = pipeIndex("blockageLimit"), 
								args = 'class -> "input-mini", 'type -> "text", '_label -> "")
								<span class="help-inline">total number of blockage events of a pipe</span>	
						</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Flushing events</label>						
						<div class="controls">
								@inputText( field = pipeIndex("flushingLimit"), 
								args = 'class -> "input-mini", 'type -> "text", '_label -> "")
								<span class="help-inline">total number of flushing events of a pipe</span>
						</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">Extra Water </label>						
						<div class="controls">
								@inputText( field = pipeIndex("extraWaterLimit"), 
								args = 'class -> "input-mini", 'type -> "text", '_label -> "")
								<span class="help-inline">wastewater flow / (0.8 x water consumption)</span>
						</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">CCTV defects</label>						
						<div class="controls">
								@inputText( field = pipeIndex("cctvLimit"), 
								args = 'class -> "input-mini", 'type -> "text", '_label -> "")
								<span class="help-inline">sum of all CCTV inspection defects (1 to 4) of a pipe</span>
						</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lWasteWater">CCTV major defects</label>					
						<div class="controls">
								@inputText( field = pipeIndex("cctv34Limit"), 
								args = 'class -> "input-mini", 'type -> "text", '_label -> "")
								<span class="help-inline">sum of CCTV inspection defects 3 and 4 of a pipe</span>
						</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
					data-parent="#accordion2" href="#collapseTwo"></a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="controls span12" id="sensitivity-div">
						<div class="control-group">
							<label class="control-label bold-label">Filter by</label>
						</div>
						<div class="control-group">
							<div class="controls span1">
								@checkbox(field = pipeIndex("isInspected"))
							</div>
						</div>
						<div class="control-group">
						<label class="control-label" >Filter no.1</label>	
							<div class="controls span2">
								@select(
						                pipeIndex("filterNameList[0]"), 
						                options(models.wrapper.PipeIndexWrapper.options), 
						                '_label -> "", '_default -> "-- Choose filter type --",
						                '_showConstraints -> false)
							</div>
							<div class="controls span2">
								@select(
						                pipeIndex("filterOperatorList[0]"), 
						                options = options(
							                ">" -> "Bigger than",
							                "<" -> "Smaller than",
							                "=" -> "Equal to"),
						                '_label -> "",
						                '_default -> "-- Choose filter operator --", 
						                '_showConstraints -> false)
							</div>							

							<div class="controls span1">
								@inputText( field = pipeIndex("filterValueList[0]"), 
								args = 'class -> "input-mini", 'placeholder -> "Value",'type -> "text", '_label -> "")
							</div>
						</div>
						<div class="control-group">
						<label class="control-label" >Filter no.2</label>	
							<div class="controls span2">
								@select(
						                pipeIndex("filterNameList[1]"), 
						                options(models.wrapper.PipeIndexWrapper.options), 
						                '_label -> "", '_default -> "-- Choose filter type --",
						                '_showConstraints -> false)
							</div>
							<div class="controls span2">
								@select(
						                pipeIndex("filterOperatorList[1]"), 
						                options = options(
							                ">" -> "Bigger than",
							                "<" -> "Smaller than",
							                "=" -> "Equal to"),
						                '_label -> "",
						                '_default -> "-- Choose filter operator --", 
						                '_showConstraints -> false)
							</div>							

							<div class="controls span1">
								@inputText( field = pipeIndex("filterValueList[1]"), 
								args = 'class -> "input-mini", 'placeholder -> "Value",'type -> "text", '_label -> "")
							</div>
						</div>
						<div class="control-group">
						<label class="control-label" >Filter no.3</label>	
							<div class="controls span2">
								@select(
						                pipeIndex("filterNameList[2]"), 
						                options(models.wrapper.PipeIndexWrapper.options), 
						                '_label -> "", '_default -> "-- Choose filter type --",
						                '_showConstraints -> false)
							</div>
							<div class="controls span2">
								@select(
						                pipeIndex("filterOperatorList[2]"), 
						                options = options(
							                ">" -> "Bigger than",
							                "<" -> "Smaller than",
							                "=" -> "Equal to"),
						                '_label -> "",
						                '_default -> "-- Choose filter operator --", 
						                '_showConstraints -> false)
							</div>							

							<div class="controls span1">
								@inputText( field = pipeIndex("filterValueList[2]"), 
								args = 'class -> "input-mini", 'placeholder -> "Value",'type -> "text", '_label -> "")
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="submit" id="searchsubmit"
			value="Refresh index calculation" class="btn btn-primary">
	</form>

</div>
<div id="paddingToRow" class="row"></div>

    
 	<h5 id="homeTitle">@Messages("pipeIndex.summary.consequenceIndexLimit") @pipeIndexSummary.consequenceLimit</h5>
 	<h5 id="homeTitle">@Messages("pipeIndex.summary.consequenceIndexPipeLength") @((math rint pipeIndexSummary.consequenceIndexPipeLength * 10) / 10) km</h5>
 	<h5 id="homeTitle">@Messages("pipeIndex.summary.consequenceIndexPipeLengthInspected") @((math rint pipeIndexSummary.consequenceIndexPipeLengthInspected * 10) / 10) km</h5>
 	<h5 id="homeTitle">@Messages("pipeIndex.summary.consequenceIndexPipeLengthNotInspected") @((math rint pipeIndexSummary.consequenceIndexPipeLengthNotInspected * 10) / 10) km</h5>
 	
    <h5 id="homeTitle">@Messages("pipeIndex.summary.conditionIndexLimit") @pipeIndexSummary.conditionLimit</h5>
 	<h5 id="homeTitle">@Messages("pipeIndex.summary.conditionIndexPipeLength") @((math rint pipeIndexSummary.conditionIndexPipeLength * 10) / 10) km</h5>
 	<h5 id="homeTitle">@Messages("pipeIndex.summary.conditionIndexPipeLengthInspected") @((math rint pipeIndexSummary.conditionIndexPipeLengthInspected * 10) / 10) km</h5>
 	<h5 id="homeTitle">@Messages("pipeIndex.summary.conditionIndexPipeLengthNotInspected") @((math rint pipeIndexSummary.conditionIndexPipeLengthNotInspected * 10) / 10) km</h5>
 	
 	<h5 id="homeTitle">@Messages("pipeIndex.summary.conditionAndConsequenceIndexPipeLength") @((math rint pipeIndexSummary.conditionAndConsequencePipeLength * 10) / 10) km</h5>


}
            