@(meterLimitValForm: Form[models.form.MeterLimitVal],
currentSortBy: String, currentOrder: String,
diameterLengthArray: List[Double], groundWaterLengthArray: List[Double], areaLengthArray: List[Double], 
roadclassLengthArray: List[Double], beachLengthArray: List[Double], blockageLengthArray: List[Double],
flushingEventLengthArray: List[Double], extraWaterLengthArray: List[Double], cctvDefectsLengthArray: List[Double],
cctvMajorDefectsLengthArray: List[Double])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Application.pipeIndex(newPage, sortBy, order)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main {

<div class="adjustmentRow" class="row">
	<h1 id="homeTitle">@Messages("pi.pipe.title")</h1>
</div>

<div class="accordion" id="accordion2">
	<form class="form-horizontal" action="@routes.Application.indexResults(0, "pipe_consequence_index", "desc")" method="GET">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
					data-parent="#accordion2" href="#collapseOne"></a>
			</div>
			<center>
				<span id="abc">@Messages("color.explanation")</span>
				<table width=600 height=50>
					<tbody>
						<tr> 
							<td bgcolor="#72E680" width=200>
								<label class="radio inline middle">
								  <span> @Messages("color.least") </span>
								</label>
							</td>
							<td bgcolor="#F4F45B" width=200>
								<label class="radio inline">
								  <span> @Messages("color.avg") </span>
								</label>
							</td>
							<td bgcolor="#F45B5B" width=200>
								<label class="radio inline">
								  <span> @Messages("color.most") </span>
								</label>
							</td>
						</tr>
					</tbody>
				</table>
			</center>					
			<div id="collapseOne" class="accordion-body collapse in">			
				<div class="accordion-inner">				
					<div class="controls span9" id="sensitivity-div">													
						<div class="control-group span4">
							<label class="control-label bold-label">@Messages("consequence.index")</label>
						</div>
						<div class="control-group span4">
							<label class="control-label bold-label">@Messages("consequence.limit")</label>
						</div>					
						<div class="control-group span9" title="@Messages("consequence.diameter.explanation")">	
							<fieldset class="efesus-border clickable">
								<!--<legend class="efesus-border">aaa</legend>-->
								<a><label class="control-label clickable" for="lWasteWater" id="info1">@Messages("consequence.diameter")</label></a>
								<div class="controls">
									<div class="chartsdiameter" id="chartdiameter"></div>
									<!--<button class="info" id="info1" type="button">Show</button>-->
									<span class="amount chartsdiameter"></span>
									<input type="hidden" class="hiddenInputMin" name="diameterMin" value="@meterLimitValForm.data.get("diameterMin")">								  
									<input type="hidden" class="hiddenInputMax" name="diameterMax" value="@meterLimitValForm.data.get("diameterMax")">								  									
									<!--<span class="chartsdiameter" id="diameterLengthArrays">Length of pipes: @diameterLengthArray</span>-->
									<div class="slider range-slide chartsdiameter">
										<div class="slide" value="333,686" id="diameterslider" min="25" max="1000">
											<span id="min">min:25</span>
											<span id="max">max:1000</span>
										</div>									
									</div>
									<span class="help-inline chartsdiameter">@Messages("consequence.diameter.limit")</span>	
								</div>
							</fieldset>							
						</div>
						<div class="control-group span2">
							<input type="checkbox" class="importanceCheckboxes" id="diameterCheckbox" name="diameterCheckbox" value="1">
							<input type="hidden" class="hiddenInputCheckbox" name="isPipeDiameterImportant" value="@meterLimitValForm.data.get("isPipeDiameterImportant")">
							<!--<p>Name: <input type="text" id="ipttext" name="user"></p>-->
						</div>						
						<div class="control-group span9" title="@Messages("consequence.floor.explanation")">
							<fieldset class="efesus-border clickable">						
								<a><label class="control-label clickable" for="lWasteWater" id="info2">@Messages("consequence.floor") (m<sup>2</sup>/m)</label></a>
								<div class="controls">
									<div class="chartsarea" id="chartarea"></div>
									<!--<button class="info" id="info2" type="button">Show</button>-->
									<span class="amount chartsarea"></span>
									<input type="hidden" class="hiddenInputMin" name="floorAreaMin" value="@meterLimitValForm.data.get("floorAreaMin")">								  
									<input type="hidden" class="hiddenInputMax" name="floorAreaMax" value="@meterLimitValForm.data.get("floorAreaMax")">								  									
									<div class="slider range-slide chartsarea">
										<div class="slide" value="16,33" min="0" max="51">
											<span id="min">min:0</span>
											<span id="max">max:50.6</span>								    
										</div>
									</div>							
									<span class="help-inline chartsarea">@Messages("consequence.floor.area")</span>	
								</div>
							</fieldset>
						</div>
						<div class="control-group span2">
							<input type="checkbox" class="importanceCheckboxes" id="floorareaCheckbox" name="floorareaCheckbox" value="1">
							<input type="hidden" class="hiddenInputCheckbox" name="isFloorAreaImportant" value="@meterLimitValForm.data.get("isFloorAreaImportant")">
							<!--<p>Name: <input type="text" id="ipttext" name="user"></p>-->
						</div>											
						<div class="control-group span9">
							<fieldset class="efesus-border clickable">
								<a><label class="control-label clickable" for="lWasteWater" id="info3">@Messages("consequence.beach")</label></a>							
								<div class="controls">
									<div class="chartsbeach" id="chartbeach"></div>
									<!--<button class="info" id="info3" type="button">Show</button>
									<span class="chartsbeach" id="beachLengthArrays">Beach array: @beachLengthArray</span>-->
									<span class="amount chartsbeach"></span>
									<div class="slider range-slide chartsbeach">	
										<div class="slide" value="166,333" min="0" max="500">
											<span id="min">min:0</span>
											<span id="max">max:500</span>								    
										</div>
									</div>										
									<span class="help-inline chartsbeach">@Messages("consequence.beach.distance")</span>	
								</div>
							</fieldset>
						</div>						
						<div class="control-group span9" title="@Messages("consequence.gwa.explanation")">
							<fieldset class="efesus-border clickable">						
								<a><label class="control-label clickable" for="lWasteWater" id="info4">@Messages("consequence.gwa")</label></a>
								<div class="controls">
									<div class="chartsgroundwaterarea" id="chartgroundwaterarea"></div>
									<!--<button class="info" id="info4" type="button">Show</button>-->							
									<!--<span class="chartsgroundwaterarea">Ground Water Array: @groundWaterLengthArray</span>-->
									<table class="table table-bordered chartsgroundwaterarea">
										<tbody>
											<tr>
												<td class="controls span1">
													<span>3 @Messages("consequence.gwa.important")</span>
												</td>	
												<td class="controls span1 green">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="@meterLimitValForm.data.get("gwaImportantVal")">-->
													  @inputRadioGroup(
														  meterLimitValForm("gwaImportantVal"),
														  options = options("0"->""),
														  '_label -> "")
													</label>
												</td>											
												<td class="controls span1 yellow">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox2" value="@meterLimitValForm.data.get("gwaSuitableVal")">-->
													  @inputRadioGroup(
														  meterLimitValForm("gwaImportantVal"),
														  options = options("1"->""),
														  '_label -> "")
													</label>
												</td>
												<td class="controls span1 red">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox3" value="@meterLimitValForm.data.get("gwaOtherVal")">-->
													  @inputRadioGroup(
														  meterLimitValForm("gwaImportantVal"),
														  options = options("2"->""),
														  '_label -> "")
													</label>
												</td>
											</tr>
											<tr>
												<td class="controls span1">
													<span>2 @Messages("consequence.gwa.suitable")</span>
												</td>											
												<td class="controls span1 green">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1">-->
													  @inputRadioGroup(
														  meterLimitValForm("gwaSuitableVal"),
														  options = options("0"->""),
														  '_label -> "")													  
													</label>
												</td>											
												<td class="controls span1 yellow">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox2" value="option2">-->
													  @inputRadioGroup(
														  meterLimitValForm("gwaSuitableVal"),
														  options = options("1"->""),
														  '_label -> "")													  
													</label>
												</td>
												<td class="controls span1 red">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option3">-->
													  @inputRadioGroup(
														  meterLimitValForm("gwaSuitableVal"),
														  options = options("2"->""),
														  '_label -> "")													  
													</label>
												</td>
											</tr>
											<tr>
												<td class="controls span1">
													<span>1 @Messages("consequence.gwa.other")</span>
												</td>											
												<td class="controls span1 green">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1">-->
													  @inputRadioGroup(
														  meterLimitValForm("gwaOtherVal"),
														  options = options("0"->""),
														  '_label -> "")													  
													</label>
												</td>											
												<td class="controls span1 yellow">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox2" value="option2">-->
													  @inputRadioGroup(
														  meterLimitValForm("gwaOtherVal"),
														  options = options("1"->""),
														  '_label -> "")													  													  
													</label>
												</td>
												<td class="controls span1 red">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option3">-->
													  @inputRadioGroup(
														  meterLimitValForm("gwaOtherVal"),
														  options = options("2"->""),
														  '_label -> "")													  													  
													</label>
												</td>
											</tr>									
										</tbody>
									</table>				
								</div>
							</fieldset>	
						</div>
						<div class="control-group span2">
							<input type="checkbox" class="importanceCheckboxes" id="gwaCheckbox" name="gwaCheckbox" value="1">
							<input type="hidden" class="hiddenInputCheckbox" name="isGwaImportant" value="@meterLimitValForm.data.get("isGwaImportant")">
							<!--<p>Name: <input type="text" id="ipttext" name="user"></p>-->
						</div>												
						<div class="control-group span9" title="@Messages("consequence.sewer.explanation")">
							<fieldset class="efesus-border clickable">				
								<div class="control-group">
									<a><label class="control-label clickable" for="lWasteWater" id="info0">@Messages("consequence.sewertype")</label></a>
								</div>
								<div class="sewer-group">						
									<div class="control-group">
										<label class="control-label" for="lWasteWater">@Messages("consequence.collection")</label>						
										<div class="controls">
											<table class="table table-bordered">
												<tbody>
													<tr> 
														<td class="controls span1 green">
															<label class="radio inline middle">
															  <!--<input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1">-->
															  @inputRadioGroup(
																  meterLimitValForm("pipeTypeCollectionVal"),
																  options = options("0"->""),
																  '_label -> "")
															</label>
														</td>
														<td class="controls span1 yellow">
															<label class="radio inline">
															  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox2" value="option2">-->
															  @inputRadioGroup(
																  meterLimitValForm("pipeTypeCollectionVal"),
																  options = options("1"->""),
																  '_label -> "")															  
															</label>
														</td>
														<td class="controls span1 red">
															<label class="radio inline">
															  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option2">-->
															  @inputRadioGroup(
																  meterLimitValForm("pipeTypeCollectionVal"),
																  options = options("2"->""),
																  '_label -> "")															  
															</label>
														</td>
													</tr>
												</tbody>
											</table>				
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="lWasteWater">@Messages("consequence.gravity")</label>						
										<div class="controls">
											<table class="table table-bordered">
												<tbody>
													<tr> 
														<td class="controls span1 green">
															<label class="radio inline middle">
															  <!--<input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1">-->
															  @inputRadioGroup(
																  meterLimitValForm("pipeTypeGravetyVal"),
																  options = options("0"->""),
																  '_label -> "")															  
															</label>
														</td>
														<td class="controls span1 yellow">
															<label class="radio inline">
															  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox2" value="option2">-->
															  @inputRadioGroup(
																  meterLimitValForm("pipeTypeGravetyVal"),
																  options = options("1"->""),
																  '_label -> "")															  
															</label>
														</td>
														<td class="controls span1 red">
															<label class="radio inline">
															  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option2">-->
															  @inputRadioGroup(
																  meterLimitValForm("pipeTypeGravetyVal"),
																  options = options("2"->""),
																  '_label -> "")															  
															</label>
														</td>
													</tr>
												</tbody>
											</table>				
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="lWasteWater">@Messages("consequence.pressure")</label>						
										<div class="controls">
											<table class="table table-bordered">
												<tbody>
													<tr> 
														<td class="controls span1 green">
															<label class="radio inline middle">
															  <!--<input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1">-->
															  @inputRadioGroup(
																  meterLimitValForm("pipeTypePressure"),
																  options = options("0"->""),
																  '_label -> "")															  
															</label>
														</td>
														<td class="controls span1 yellow">
															<label class="radio inline">
															  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox2" value="option2">-->
															  @inputRadioGroup(
																  meterLimitValForm("pipeTypePressure"),
																  options = options("1"->""),
																  '_label -> "")															  															  
															</label>
														</td>
														<td class="controls span1 red">
															<label class="radio inline">
															  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option2">-->
															  @inputRadioGroup(
																  meterLimitValForm("pipeTypePressure"),
																  options = options("2"->""),
																  '_label -> "")															  															  
															</label>
														</td>
													</tr>
												</tbody>
											</table>				
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="lWasteWater">@Messages("consequence.smallpressure")</label>						
										<div class="controls">
											<table class="table table-bordered">
												<tbody>
													<tr> 
														<td class="controls span1 green">
															<label class="radio inline">
															  <!--<input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1">-->
															  @inputRadioGroup(
																  meterLimitValForm("pipeTypeSmallPressureVal"),
																  options = options("0"->""),
																  '_label -> "")															  															  
															</label>
														</td>
														<td class="controls span1 yellow">
															<label class="radio inline">
															  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox2" value="option2">-->
															  @inputRadioGroup(
																  meterLimitValForm("pipeTypeSmallPressureVal"),
																  options = options("1"->""),
																  '_label -> "")															  
															</label>
														</td>
														<td class="controls span1 red">
															<label class="radio inline">
															  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option2">-->
															  @inputRadioGroup(
																  meterLimitValForm("pipeTypeSmallPressureVal"),
																  options = options("2"->""),
																  '_label -> "")															  
															</label>
														</td>
													</tr>
												</tbody>
											</table>				
										</div>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="control-group span2">
							<input type="checkbox" class="importanceCheckboxes" id="sewerTypeCheckbox" name="sewerTypeCheckbox" value="1">
							<input type="hidden" class="hiddenInputCheckbox" name="isSewerTypeImportant" value="@meterLimitValForm.data.get("isSewerTypeImportant")">
							<!--<p>Name: <input type="text" id="ipttext" name="user"></p>-->
						</div>							
						<div class="control-group span9" title="@Messages("consequence.roadcls.explanation")">
							<fieldset class="efesus-border clickable">						
								<a><label class="control-label clickable" for="lWasteWater" id="info5">@Messages("consequence.roadcls")</label></a>
								<div class="controls">
									<div class="chartsroadclassification" id="chartroadclassification"></div>
									<!--<button class="info" id="info5" type="button">Show</button>-->
									<!--<span class="chartsroadclassification">RC array: @roadclassLengthArray</span>-->
									<table class="table table-bordered chartsroadclassification">
										<tbody>
											<tr>
												<td class="controls span1">
													<span>1. @Messages("consequence.regional")</span>
												</td>										
												<td class="controls span1 green">
													<label class="radio inline middle">
													  <!--<input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1">-->
													  @inputRadioGroup(
														  meterLimitValForm("roadRegionalMain1Val"),
														  options = options("0"->""),
														  '_label -> "")															  													  
													</label>
												</td>										
												<td class="controls span1 yellow">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option3">-->
													  @inputRadioGroup(
														  meterLimitValForm("roadRegionalMain1Val"),
														  options = options("1"->""),
														  '_label -> "")															  													  													  
													</label>
												</td>
												<td class="controls span1 red">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox4" value="option4">-->
													  @inputRadioGroup(
														  meterLimitValForm("roadRegionalMain1Val"),
														  options = options("2"->""),
														  '_label -> "")															  													  													  
													</label>
												</td>
											</tr>
											<tr>
												<td class="controls span1">
													<span>2. @Messages("consequence.regional")</span>
												</td>										
												<td class="controls span1 green">
													<label class="radio inline middle">
													  <!--<input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1">-->
													  @inputRadioGroup(
														  meterLimitValForm("roadRegionalMain2Val"),
														  options = options("0"->""),
														  '_label -> "")															  													  													  
													</label>
												</td>										
												<td class="controls span1 yellow">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option3">-->
													  @inputRadioGroup(
														  meterLimitValForm("roadRegionalMain2Val"),
														  options = options("1"->""),
														  '_label -> "")															  													  													  													  
													</label>
												</td>
												<td class="controls span1 red">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox4" value="option4">-->
													  @inputRadioGroup(
														  meterLimitValForm("roadRegionalMain2Val"),
														  options = options("2"->""),
														  '_label -> "")															  													  													  													  
													</label>
												</td>
											</tr>
											<tr>
												<td class="controls span1">
													<span>3. @Messages("consequence.local")</span>
												</td>										
												<td class="controls span1 green">
													<label class="radio inline middle">
													  <!--<input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1">-->
													  @inputRadioGroup(
														  meterLimitValForm("roadLocalMainVal"),
														  options = options("0"->""),
														  '_label -> "")															  
													</label>
												</td>										
												<td class="controls span1 yellow">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option3">-->
													  @inputRadioGroup(
														  meterLimitValForm("roadLocalMainVal"),
														  options = options("1"->""),
														  '_label -> "")															  													  
													</label>
												</td>
												<td class="controls span1 red">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox4" value="option4">-->
													  @inputRadioGroup(
														  meterLimitValForm("roadLocalMainVal"),
														  options = options("2"->""),
														  '_label -> "")													  
													</label>
												</td>
											</tr>
											<tr>
												<td class="controls span1">
													<span>4. @Messages("consequence.collector")</span>
												</td>										
												<td class="controls span1 green">
													<label class="radio inline middle">
													  <!--<input type="radio" name="optionsRadios" class="middle" id="inlineCheckbox1" value="option1">-->
													  @inputRadioGroup(
														  meterLimitValForm("roadCollectorVal"),
														  options = options("0"->""),
														  '_label -> "")													  
													</label>
												</td>										
												<td class="controls span1 yellow">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox3" value="option3">-->
													  @inputRadioGroup(
														  meterLimitValForm("roadCollectorVal"),
														  options = options("1"->""),
														  '_label -> "")													  													  
													</label>
												</td>
												<td class="controls span1 red">
													<label class="radio inline">
													  <!--<input type="radio" name="optionsRadios" id="inlineCheckbox4" value="option4">-->
													  @inputRadioGroup(
														  meterLimitValForm("roadCollectorVal"),
														  options = options("2"->""),
														  '_label -> "")													  													  
													</label>
												</td>
											</tr>										
										</tbody>
									</table>				
								</div>
							</fieldset>
						</div>
						<div class="control-group span2">
							<input type="checkbox" class="importanceCheckboxes" id="roadTypeCheckbox" name="roadTypeCheckbox" value="1">
							<input type="hidden" class="hiddenInputCheckbox" name="isRoadTypeImportant" value="@meterLimitValForm.data.get("isRoadTypeImportant")">
							<!--<p>Name: <input type="text" id="ipttext" name="user"></p>-->
						</div>
						<div class="control-group span11">
							@inputText(meterLimitValForm("amountOfConsequenceRed"), '_label -> "Amount of Consequence Reds", 'placeholder -> "Amount of Reds of Consequences") <span id="ChangeMe">/NumberToChange</span>
						</div>
					</div>
					<div class="controls span9">
						
						<div class="control-group span9">
							<label class="control-label bold-label">@Messages("condition.index")</label>
						</div>
						<div class="control-group span9">
							<label class="control-label bold-label">@Messages("condition.limit")</label>
						</div>

						<div class="control-group span9" title="@Messages("condition.blockages.explanation")">
							<fieldset class="efesus-border clickable">
								<a><label class="control-label clickable" for="lWasteWater" id="info6">@Messages("condition.blockages")</label></a>
								<div class="controls">
									<div class="chartsblockage" id="chartblockage"></div>
									<!--<button class="info" id="info6" type="button">Show</button>-->								
									<!--<span class="chartsblockage">Blockages: @blockageLengthArray</span>-->
									<span class="amount chartsblockage"></span>
									<input type="hidden" class="hiddenInputMin" name="blockageMin" value="@meterLimitValForm.data.get("blockageMin")">								  
									<input type="hidden" class="hiddenInputMax" name="blockageMax" value="@meterLimitValForm.data.get("blockageMax")">								  																		
									<div class="slider range-slide chartsblockage">	
										<div class="slide" value="1,3" min="0" max="4">
											<span id="min">min:0</span>
											<span id="max">max:4</span>								    
										</div>
									</div>									
									<span class="help-inline chartsblockage">@Messages("condition.number")</span>
								</div>
							</fieldset>
						</div>
						<div class="control-group span2">
							<input type="checkbox" class="importanceCheckboxes" id="blockageCheckbox" name="blockageCheckbox" value="1">
							<input type="hidden" class="hiddenInputCheckbox" name="isBlockageImportant" value="@meterLimitValForm.data.get("isBlockageImportant")">
							<!--<p>Name: <input type="text" id="ipttext" name="user"></p>-->
						</div>							
						<div class="control-group span9" title="@Messages("condition.flush.explanation")">
							<fieldset class="efesus-border clickable">
								<a><label class="control-label clickable" for="lWasteWater" id="info7">@Messages("condition.flush")</label></a>
								<div class="controls">
									<div class="chartsflushing" id="chartflushing"></div>
									<!--<button class="info" id="info7" type="button">Show</button>-->
									<!--<span class="chartsflushing">FEA: @flushingEventLengthArray</span>-->
									<span class="amount chartsflushing"></span>
									<input type="hidden" class="hiddenInputMin" name="flushingMin" value="@meterLimitValForm.data.get("flushingMin")">								  
									<input type="hidden" class="hiddenInputMax" name="flushingMax" value="@meterLimitValForm.data.get("flushingMax")">								  																		
									<div class="slider range-slide chartsflushing">	
										<div class="slide" value="5,10" min="0" max="17">
											<span id="min">min:0</span>
											<span id="max">max:17</span>								    
										</div>
									</div>	
									<span class="help-inline chartsflushing">@Messages("condition.number.flushing")</span>
								</div>
							</fieldset>
						</div>
						<div class="control-group span2">
							<input type="checkbox" class="importanceCheckboxes" id="flushingCheckbox" name="flushingCheckbox" value="1">
							<input type="hidden" class="hiddenInputCheckbox" name="isFlushingImportant" value="@meterLimitValForm.data.get("isFlushingImportant")">
							<!--<p>Name: <input type="text" id="ipttext" name="user"></p>-->
						</div>													
						<div class="control-group span9" title="@Messages("condition.flowfiltr.explanation")">
							<fieldset class="efesus-border clickable">						
								<a><label class="control-label clickable" for="lWasteWater" id="info8">@Messages("condition.flowfiltr")</label></a>
								<div class="controls">
									<div class="chartsextrawater" id="chartextrawater"></div>
									<!--<button class="info" id="info8" type="button">Show</button>-->
									<!--<span class="chartsextrawater">Extra Water Array: @extraWaterLengthArray</span>-->
									<span class="amount chartsextrawater"></span>
									<input type="hidden" class="hiddenInputMin" name="extraWaterMin" value="@meterLimitValForm.data.get("extraWaterMin")">								  
									<input type="hidden" class="hiddenInputMax" name="extraWaterMax" value="@meterLimitValForm.data.get("extraWaterMax")">								  																		
									<div class="slider range-slide chartsextrawater">	
										<div class="slide" value="6,12" min="0" max="19">
											<span id="min">min:0</span>
											<span id="max">max:18.8</span>								    
										</div>
									</div>	
									<span class="help-inline chartsextrawater">@Messages("condition.flowfiltr.info")</span>
								</div>
							</fieldset>
						</div>
						<div class="control-group span2">
							<input type="checkbox" class="importanceCheckboxes" id="iiCheckbox" name="iiCheckbox" value="1">
							<input type="hidden" class="hiddenInputCheckbox" name="isInflowAndInfiltrationImportant" value="@meterLimitValForm.data.get("isInflowAndInfiltrationImportant")">
							<!--<p>Name: <input type="text" id="ipttext" name="user"></p>-->
						</div>							
						<div class="control-group span9" title="@Messages("condition.cctv.explanation")">
							<fieldset class="efesus-border clickable">
								<a><label class="control-label clickable" for="lWasteWater" id="info9">@Messages("condition.cctv")</label></a>
								<div class="controls">
									<div class="chartsCCTVdefects" id="chartCCTVdefects"></div>
									<!--<button class="info" id="info9" type="button">Show</button>-->
									<!--<span class="chartsCCTVdefects">CCTV array: @cctvDefectsLengthArray</span>-->
									<span class="amount chartsCCTVdefects"></span>
									<input type="hidden" class="hiddenInputMin" name="cctvMin" value="@meterLimitValForm.data.get("cctvMin")">								  
									<input type="hidden" class="hiddenInputMax" name="cctvMax" value="@meterLimitValForm.data.get("cctvMax")">								  																		
									<div class="slider range-slide chartsCCTVdefects">	
										<div class="slide" value="11,22" min="0" max="34">
											<span id="min">min:0</span>
											<span id="max">max:34</span>								    
										</div>
									</div>	
									<span class="help-inline chartsCCTVdefects">@Messages("condition.sum.cctv")</span>
								</div>
							</fieldset>
						</div>
						<div class="control-group span2">
							<input type="checkbox" class="importanceCheckboxes" id="cctvCheckbox" name="cctvCheckbox" value="1">
							<input type="hidden" class="hiddenInputCheckbox" name="isCCTVDefectsImportant" value="@meterLimitValForm.data.get("isCCTVDefectsImportant")">
							<!--<p>Name: <input type="text" id="ipttext" name="user"></p>-->
						</div>						
						<div class="control-group span9" title="@Messages("condition.cctvmajor.explanation")">
							<fieldset class="efesus-border clickable">
								<a><label class="control-label clickable" for="lWasteWater" id="info10">@Messages("condition.cctvmajor")</label></a>
								<div class="controls">
									<div class="chartsCCTVmajordefects" id="chartCCTVmajordefects"></div>
									<!--<button class="info" id="info10" type="button">Show</button>-->
									<!--<span class="chartsCCTVmajordefects">CCTV MD array: @cctvMajorDefectsLengthArray</span>-->
									<span class="amount chartsCCTVmajordefects"></span>
									<input type="hidden" class="hiddenInputMin" name="cctv34Min" value="@meterLimitValForm.data.get("cctv34Min")">								  
									<input type="hidden" class="hiddenInputMax" name="cctv34Max" value="@meterLimitValForm.data.get("cctv34Max")">								  																		
									<div class="slider range-slide chartsCCTVmajordefects">	
										<div class="slide" value="8,17" min="0" max="26">
											<span id="min">min:0</span>
											<span id="max">max:26</span>								    
										</div>
									</div>	
									<span class="help-inline chartsCCTVmajordefects">@Messages("condition.sum.cctvmajor")</span>
								</div>
							</fieldset>	
						</div>
						<div class="control-group span2">
							<input type="checkbox" class="importanceCheckboxes" id="cctv34Checkbox" name="cctv34Checkbox" value="1">
							<input type="hidden" class="hiddenInputCheckbox" name="isCCTVMajorDefectsImportant" value="@meterLimitValForm.data.get("isCCTVMajorDefectsImportant")">
							<!--<p>Name: <input type="text" id="ipttext" name="user"></p>-->
						</div>												
					</div>
				</div>				
			</div>						
		</div>
		<input type="submit" id="searchsubmit"
			value="@Messages("calculate.index")" class="btn btn-primary">
	</form>

</div>
<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">-->
<!--<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery.aristo.css")">-->
<!--<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/xcharts.css")">-->
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery.jqplot.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.10.3.custom.css")">
<style>
.ui-slider { 
	position: relative;
	text-align: left;
	//background: #1AF230; // green
	//background: #F84831; // red
}
//.ui-slider .ui-slider-handle {
//	background: green;
//}
.slide-back {
    position:absolute;
    height:100%;
}
a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}
.slider span { background: yelllow; position: absolute; top: -5px}
.ui-slider-range { background: #F2FA0A; }
#min { left: 2px; font-size: 12px; font-weight: bold}
#max { right: 2px; font-size: 12px; font-weight: bold}
#accordion2 {font-weight:bold;}
#homeTitle {font-weight: bold;}
.clickable:hover{
   background-color:#FFFF9F;
   //#background-image: url(../images/divbg.png);
}
.clickable {
	text-align: center !important;
}
fieldset.efesus-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend.efesus-border {
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	width:auto;
	padding:0 10px;
	border-bottom:none;
}
</style>
<!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
<!--<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->
<script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-1.10.3.custom.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.jqplot.js")"></script>
<script src="@routes.Assets.at("javascripts/jqplot.barRenderer.js")"></script>
<script src="@routes.Assets.at("javascripts/jqplot.categoryAxisRenderer.js")"></script>
<!--[if IE]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
<!--<script src="@routes.Assets.at("javascripts/jquery.flot.min.js")"></script>-->
<!--<script src="@routes.Assets.at("javascripts/Chart.js")"></script>-->
<!--<script src="@routes.Assets.at("javascripts/d3.v3.js")"></script>-->
<!--<script src="@routes.Assets.at("javascripts/xcharts.js")"></script>-->
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){	
	//
	// Drawing a bar chart
	//
	$.jqplot.config.enablePlugins = true;
	var sdiameter = new Array(); 
	var i = 0;
	var number;
	@for(s <- diameterLengthArray) {
		number = Math.round(@s);
		if (!isNaN(number))
			sdiameter[i] = Math.round(number / 1000);
		else
			sdiameter[i] = 0;
		i++;
	}
	//$('#diameterLengthArrays').html("SDLA: " + sdiameter); // debug
	var ticksDiameter = [0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000];
	diameterObj = {
		// Only animate if we're not using excanvas (not in IE 7 or IE 8)..
		animate: !$.jqplot.use_excanvas,
		seriesDefaults:{
			renderer:$.jqplot.BarRenderer,
			pointLabels: { show: true }
		},
		axes: {
			xaxis: {
				renderer: $.jqplot.CategoryAxisRenderer,
				ticks: ticksDiameter
			}
		},
		highlighter: { show: false }
	}
	plot1 = $.jqplot('chartdiameter', [sdiameter], diameterObj);
	
	// Click event
	//$('#chartdiameter').bind('jqplotDataClick', 
	//	function (ev, seriesIndex, pointIndex, data) {
			//$('#info1').html('series: '+seriesIndex+', point: '+pointIndex+', data: '+data);
	//	}
	//);
	/////////////////////
	
	var sgroundwaterarea = new Array(); 
	i = 0;
	@for(s <- groundWaterLengthArray) {
		number = Math.round(@s);
		if (!isNaN(number))
			sgroundwaterarea[i] = Math.round(number / 1000);
		else
			sgroundwaterarea[i] = 0;	
		i++;
	}
	var ticksGroundWater = [0, 1, 2, 3];
	groundWaterObj = {
		// Only animate if we're not using excanvas (not in IE 7 or IE 8)..
		animate: !$.jqplot.use_excanvas,
		seriesDefaults:{
			renderer:$.jqplot.BarRenderer,
			pointLabels: { show: true }
		},
		axes: {
			xaxis: {
				renderer: $.jqplot.CategoryAxisRenderer,
				ticks: ticksGroundWater
			}
		},
		highlighter: { show: false }
	}
	plot2 = $.jqplot('chartgroundwaterarea', [sgroundwaterarea], groundWaterObj);	
	
	var sarea = new Array(); 
	i = 0;
	@for(s <- areaLengthArray) {
		number = Math.round(@s);
		if (!isNaN(number))
			sarea[i] = Math.round(number / 1000);
		else
			sarea[i] = 0;
		i++;
	}
	var ticksArea = ["0-10", "10-20", "20-30", "30-40", "40-50"];
	areaObj = {
		// Only animate if we're not using excanvas (not in IE 7 or IE 8)..
		animate: !$.jqplot.use_excanvas,
		seriesDefaults:{
			renderer:$.jqplot.BarRenderer,
			pointLabels: { show: true }
		},
		axes: {
			xaxis: {
				renderer: $.jqplot.CategoryAxisRenderer,
				ticks: ticksArea
			}
		},
		highlighter: { show: false }
	}	
	plot3 = $.jqplot('chartarea', [sarea], areaObj);	

	var sroadclass = new Array();
	i = 0;
	@for(s <- roadclassLengthArray) {
		number = Math.round(@s);
		if (!isNaN(number))
			sroadclass[i] = Math.round(number / 1000);
		else
			sroadclass[i] = 0;
		i++;
	}
	var ticksBeach = [1, 2, 3, 4];
	roadclassObj = {
		// Only animate if we're not using excanvas (not in IE 7 or IE 8)..
		animate: !$.jqplot.use_excanvas,
		seriesDefaults:{
			renderer:$.jqplot.BarRenderer,
			pointLabels: { show: true }
		},
		axes: {
			xaxis: {
				renderer: $.jqplot.CategoryAxisRenderer,
				ticks: ticksBeach
			}
		},
		highlighter: { show: false }
	}
	plot5 = $.jqplot('chartroadclassification', [sroadclass], roadclassObj);
	
	var sbeach = new Array();
	i = 0;
	@for(s <- beachLengthArray) {
		number = Math.round(@s);
		if (!isNaN(number))
			sbeach[i] = Math.round(number / 1000);
		else
			sbeach[i] = 0;
		i++;
	}	
	//$('#beachLengthArrays').html("debug: " + sbeach); // debug	
	var ticksBeach = ["0-500", ">500"];
	beachObj = {
		// Only animate if we're not using excanvas (not in IE 7 or IE 8)..
		animate: !$.jqplot.use_excanvas,
		seriesDefaults:{
			renderer:$.jqplot.BarRenderer,
			pointLabels: { show: true }
		},
		axes: {
			xaxis: {
				renderer: $.jqplot.CategoryAxisRenderer,
				ticks: ticksBeach
			}
		},
		highlighter: { show: false }
	}
	plot4 = $.jqplot('chartbeach', [sbeach], beachObj);

	var sblockage = new Array();
	i = 0;
	@for(s <- blockageLengthArray) {
		number = Math.round(@s);
		if (!isNaN(number))
			sblockage[i] = Math.round(number / 1000);
		else
			sblockage[i] = 0;
		i++;
	}
	var ticksBlockage = [0, 1, 2, 3, 4];
	blockageObj = {
		// Only animate if we're not using excanvas (not in IE 7 or IE 8)..
		animate: !$.jqplot.use_excanvas,
		seriesDefaults:{
			renderer:$.jqplot.BarRenderer,
			pointLabels: { show: true }
		},
		axes: {
			xaxis: {
				renderer: $.jqplot.CategoryAxisRenderer,
				ticks: ticksBlockage
			}
		},
		highlighter: { show: false }
	}
	plot6 = $.jqplot('chartblockage', [sblockage], blockageObj);

	var sflush = new Array();
	i = 0;
	@for(s <- flushingEventLengthArray) {
		number = Math.round(@s);
		if (!isNaN(number))
			sflush[i] = Math.round(number / 1000);
		else
			sflush[i] = 0;
		i++;
	}
	var ticksFlush = ["0-3", "4-7", "8-11", "12-15", "16-19"];
	flushingObj = {
		// Only animate if we're not using excanvas (not in IE 7 or IE 8)..
		animate: !$.jqplot.use_excanvas,
		seriesDefaults:{
			renderer:$.jqplot.BarRenderer,
			pointLabels: { show: true }
		},
		axes: {
			xaxis: {
				renderer: $.jqplot.CategoryAxisRenderer,
				ticks: ticksFlush
			}
		},
		highlighter: { show: false }
	}
	plot7 = $.jqplot('chartflushing', [sflush], flushingObj);

	var swater = new Array();
	i = 0;
	@for(s <- extraWaterLengthArray) {
		number = Math.round(@s);
		if (!isNaN(number))
			swater[i] = Math.round(number / 1000);
		else
			swater[i] = 0;
		i++;
	}
	var ticksExtraWarer = ["0-3", "4-7", "8-11", "12-15", "16-19"];
	extraWaterObj = {
		// Only animate if we're not using excanvas (not in IE 7 or IE 8)..
		animate: !$.jqplot.use_excanvas,
		seriesDefaults:{
			renderer:$.jqplot.BarRenderer,
			pointLabels: { show: true }
		},
		axes: {
			xaxis: {
				renderer: $.jqplot.CategoryAxisRenderer,
				ticks: ticksExtraWarer
			}
		},
		highlighter: { show: false }
	}
	plot8 = $.jqplot('chartextrawater', [swater], extraWaterObj);

	var scctv = new Array();
	i = 0;
	@for(s <- cctvDefectsLengthArray) {
		number = Math.round(@s);
		if (!isNaN(number))
			scctv[i] = Math.round(number / 1000);
		else
			scctv[i] = 0;
		i++;
	}
	var ticksCCTV = ["0-5", "6-10", "11-15", "16-20", "21-25", "26-30", "31-35"];
	CCTVdefectsObj = {
		// Only animate if we're not using excanvas (not in IE 7 or IE 8)..
		animate: !$.jqplot.use_excanvas,
		seriesDefaults:{
			renderer:$.jqplot.BarRenderer,
			pointLabels: { show: true }
		},
		axes: {
			xaxis: {
				renderer: $.jqplot.CategoryAxisRenderer,
				ticks: ticksCCTV
			}
		},
		highlighter: { show: false }
	}
	plot9 = $.jqplot('chartCCTVdefects', [scctv], CCTVdefectsObj);

	var scctvmajor = new Array();
	i = 0;
	@for(s <- cctvMajorDefectsLengthArray) {
		number = Math.round(@s);
		if (!isNaN(number))
			scctvmajor[i] = Math.round(number / 1000);
		else
			scctvmajor[i] = 0;
		i++;
	}
	var ticksCCTVmajor = ["0-5", "6-10", "11-15", "16-20", "21-25", "26-30"];
	CCTVmajordefectsObj = {
		// Only animate if we're not using excanvas (not in IE 7 or IE 8)..
		animate: !$.jqplot.use_excanvas,
		seriesDefaults:{
			renderer:$.jqplot.BarRenderer,
			pointLabels: { show: true }
		},
		axes: {
			xaxis: {
				renderer: $.jqplot.CategoryAxisRenderer,
				ticks: ticksCCTVmajor
			}
		},
		highlighter: { show: false }
	}
	plot10 = $.jqplot('chartCCTVmajordefects', [scctvmajor], CCTVmajordefectsObj);
	
	//
	//Popup/hide the sewers
	//		
	function deselectSewers() {
		$(".sewer-group").slideFadeToggle(function() {
			$("#info0").removeClass("selected");
		});		
	}
	
	//
	//Popup/hide the bar charts
	//	
	function deselectDiameter() {
		$(".chartsdiameter").slideFadeToggle(function() {
			$("#info1").removeClass("selected");
		});		
	}

	function deselectGroundWater() {
		$(".chartsgroundwaterarea").slideFadeToggle(function() {
			$("#info4").removeClass("selected");
		});		
	}	
	
	function deselectArea() {
		$(".chartsarea").slideFadeToggle(function() {
			$("#info2").removeClass("selected");
		});	
	}	

	function deselectRoadClassification() {
		$(".chartsroadclassification").slideFadeToggle(function() {
			$("#info5").removeClass("selected");
		});	
	}		
	
	function deselectBeach() {
		$(".chartsbeach").slideFadeToggle(function() {
			$("#info3").removeClass("selected");
		});	
	}	

	function deselectBlockage() {
		$(".chartsblockage").slideFadeToggle(function() {
			$("#info6").removeClass("selected");
		});	
	}	

	function deselectFlushing() {
		$(".chartsflushing").slideFadeToggle(function() {
			$("#info7").removeClass("selected");
		});	
	}	

	function deselectExtraWater() {
		$(".chartsextrawater").slideFadeToggle(function() {
			$("#info8").removeClass("selected");
		});	
	}		
	
	function deselectCCTVdefects() {
		$(".chartsCCTVdefects").slideFadeToggle(function() {
			$("#info9").removeClass("selected");
		});	
	}
 
	function deselectCCTVmajordefects() {
		$(".chartsCCTVmajordefects").slideFadeToggle(function() {
			$("#info10").removeClass("selected");
		});	
	} 
 
	//
	// Show/hide Sewers
	//
 	$("#info0").on('click', function() {
		if($(this).hasClass("selected")) {
			$("#info0").html('@Messages("consequence.sewertype")');
			deselectSewers();               
        } else {
			$(this).addClass("selected");
			$(".sewer-group").slideFadeToggle(function() { 
				$("#info0").focus();
				$("#info0").html('@Messages("consequence.hide.sewertype")');
			});
		}
		return false;
	});	
 
	//
	// Show/hide Bar Charts
	//
	$("#info1").on('click', function() {
		if($(this).hasClass("selected")) {
			$("#info1").html('@Messages("consequence.diameter")');
			deselectDiameter();               
        } else {
            $(this).addClass("selected");
			$(".chartsdiameter").slideFadeToggle(function() { 
				$("#info1").focus();
				$("#info1").html('@Messages("consequence.hide.diameter")');
			});
		}
		return false;
	});

	$("#info4").on('click', function() {
		if($(this).hasClass("selected")) {
			$("#info4").html('@Messages("consequence.gwa")');
			deselectGroundWater();               
        } else {
            $(this).addClass("selected");
			$(".chartsgroundwaterarea").slideFadeToggle(function() { 
				$("#info4").focus();
				$("#info4").html('@Messages("consequence.hide.gwa")');
			});
		}
		return false;
	});
	
	$("#info2").on('click', function() {
		if($(this).hasClass("selected")) {
			$("#info2").html('@Messages("consequence.floor") (m<sup>2</sup>/m)');
			deselectArea();               
        } else {
            $(this).addClass("selected");
			$(".chartsarea").slideFadeToggle(function() { 
				$("#info2").focus();
				$("#info2").html('@Messages("consequence.hide.floor")');
			});
		}
		return false;
	});	
	
	$("#info5").on('click', function() {
		if($(this).hasClass("selected")) {
			$("#info5").html('@Messages("consequence.roadcls")');
			deselectRoadClassification();               
        } else {
            $(this).addClass("selected");
			$(".chartsroadclassification").slideFadeToggle(function() { 
				$("#info5").focus();
				$("#info5").html('@Messages("consequence.hide.roadcls")');
			});
		}
		return false;
	});	
	
	$("#info3").on('click', function() {
		if($(this).hasClass("selected")) {
			$("#info3").html('@Messages("consequence.beach")');
			deselectBeach();               
        } else {
            $(this).addClass("selected");
			$(".chartsbeach").slideFadeToggle(function() { 
				$("#info3").focus();
				$("#info3").html('@Messages("consequence.hide.beach")');
			});
		}
		return false;
	});	

	$("#info6").on('click', function() {
		if($(this).hasClass("selected")) {
			$("#info6").html('@Messages("condition.blockages")');
			deselectBlockage();               
        } else {
            $(this).addClass("selected");
			$(".chartsblockage").slideFadeToggle(function() { 
				$("#info6").focus();
				$("#info6").html('@Messages("condition.hide.blockages")');
			});
		}
		return false;
	});	

	$("#info7").on('click', function() {
		if($(this).hasClass("selected")) {
			$("#info7").html('@Messages("condition.flush")');
			deselectFlushing();               
        } else {
			$(this).addClass("selected");
			$(".chartsflushing").slideFadeToggle(function() { 
				$("#info7").focus();
				$("#info7").html('@Messages("condition.number.flushing")');
			});
		}
		return false;
	});	

	$("#info8").on('click', function() {
		if($(this).hasClass("selected")) {
			$("#info8").html('@Messages("condition.flowfiltr")');
			deselectExtraWater();               
        } else {
			$(this).addClass("selected");
			$(".chartsextrawater").slideFadeToggle(function() { 
				$("#info8").focus();
				$("#info8").html('@Messages("condition.hide.flowfiltr")');
			});
		}
		return false;
	});	

	$("#info9").on('click', function() {
		if($(this).hasClass("selected")) {
			$("#info9").html('@Messages("condition.cctv")');
			deselectCCTVdefects();               
        } else {
			$(this).addClass("selected");
			$(".chartsCCTVdefects").slideFadeToggle(function() { 
				$("#info9").focus();
				$("#info9").html('@Messages("condition.hide.cctv")');
			});
		}
		return false;
	});	
	
	$("#info10").on('click', function() {
		if($(this).hasClass("selected")) {
			$("#info10").html('@Messages("condition.cctvmajor")');
			deselectCCTVmajordefects();               
        } else {
			$(this).addClass("selected");
			$(".chartsCCTVmajordefects").slideFadeToggle(function() { 
				$("#info10").focus();
				$("#info10").html('@Messages("condition.hide.cctvmajor")');
			});
		}
		return false;
	});	
	
	$.fn.slideFadeToggle = function(easing, callback) {
		return this.animate({ opacity: 'toggle', height: 'toggle' }, "fast", easing, callback);
	};
	
	// Hide bar charts in the beginning
	deselectDiameter();
	deselectGroundWater();
	deselectArea();
	deselectRoadClassification();	
	deselectBeach();
	deselectBlockage();
	deselectFlushing();
	deselectExtraWater();
	deselectCCTVdefects();	
	deselectCCTVmajordefects();
	deselectSewers();

	$(".hiddenInputCheckbox").val(0);
	
	$(".importanceCheckboxes").on('click', function() {
		$(this).siblings('input.hiddenInputCheckbox').val($(this).val());
		$("#abc").html("yippie");
		//$("#ipttext").val($(this).val());
	});
	
	//////////////////////
	//
	// Slider handling
	//
		
	$(".range-slide div.slide").each(function() {
		values = $(this).attr('value').split(',');
	    firstVal = values[0];
	    secondVal = values[1];
	    rangeSpan = $(this).parent().siblings('span.amount');
		var colors = ["#00ff00", "f7ff00", "#ff0000"];		
	    
		// Update colors
		var doUpdate = function(objectspor) {
			$("div.slide .slide-back").remove();
			$($("div.slide a").get().reverse()).each(function(i) {
				var bg = '#0f0'; // green
				if(i == 1) {
					bg = '#0ff'; // light blue
				}
				$("div.slide").append($('<div></div>').addClass('slide-back').width($(this).position().left - 5).css('background', bg));
			});
		};	
		
		$(this).slider({
	    	values: [firstVal , secondVal],
	    	min: parseInt($(this).attr('min')),
	    	max:  parseInt($(this).attr('max')),
	    	range: true,
	    	slide: function(event, ui) {
				$(this).parent().siblings('span.amount').html("@Messages("min.limit"): " + ui.values[0] + " - @Messages("max.limit"): " + ui.values[1]);
				//$("#diameterMinId").val(ui.values[0]);
				//$("#diameterMaxId").val(ui.values[1]);
				$(this).parent().siblings('input.hiddenInputMin').val(ui.values[0]);
				$(this).parent().siblings('input.hiddenInputMax').val(ui.values[1]);
				//updateColors(ui.values);
				//doUpdate($(this));
				//ticks = [ui.values[0], ui.values[1]];
				//optionsObj = {
					// Only animate if we're not using excanvas (not in IE 7 or IE 8)..
				//	animate: !$.jqplot.use_excanvas,
				//	seriesDefaults:{
				//		renderer:$.jqplot.BarRenderer,
				//		pointLabels: { show: true }
				//	},
				//	axes: {
				//		xaxis: {
				//			renderer: $.jqplot.CategoryAxisRenderer,
				//			ticks: ticks
				//		}
				//	},
				//	highlighter: { show: false }
				//}		
				//plot1.replot(optionsObj);
				//plot1 = $.jqplot('chartdiameter', ticks, optionsObj);
				//plot1.axes = {
				//	xaxis: {
				//		renderer: $.jqplot.CategoryAxisRenderer,
				//		ticks: ticks
				//	}
				//}
	    	}
		});

		function updateColors(values) {
			var colorstops = colors[0] + ", "; // start left with the first color
				for (var i=0; i< values.length; i++) {
					colorstops += colors[i] + " " + values[i] + "%,";
					colorstops += colors[i+1] + " " + values[i] + "%,";
				}
				// end with the last color to the right
				colorstops += colors[colors.length-1];
				
				/* Safari 5.1, Chrome 10+ */
				var css = '-webkit-linear-gradient(left,' + colorstops + ')';
				$(this).css('background-image', css);
		}		
		
		rangeSpan.html("@Messages("min.limit"): " + $(this).slider("values", 0) + " - @Messages("max.limit"): " + $(this).slider("values", 1));
		$(this).parent().siblings('input.hiddenInputMin').val($(this).slider("values", 0));
		$(this).parent().siblings('input.hiddenInputMax').val($(this).slider("values", 1));		
		//doUpdate();
	});
	/////////////////////
});
</script>
}				