@(currentPage: models.meter.sensitivity.PipeSensitivityIndex.SensitivityIndexPage, currentSortBy: String, currentOrder: String, currentFilter: String, lWasteWater: Int, lGroundWaterArea: Int, lPressurePipe: Int, lFloorArea: Int, lRoadClass: Int)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Application.pipeSensitivityIndex(newPage, sortBy, order, currentFilter, lWasteWater, lGroundWaterArea, lPressurePipe, lFloorArea, lRoadClass)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main {

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
}



<div class="adjustmentRow" class="row">
	<h1 id="homeTitle">@Messages("pi.pipe.title")</h1>
	<div id="actions">
		<form action="@link(0, " name")" method="GET">
			<input type="search" id="searchbox" name="f"
				class="input-xxlarge search-field" value="@currentFilter"
				placeholder="Filter by pipe identifier, pipe datasource code, or pumping station">
			<input type="submit" id="searchsubmit" value="Filter"
				class="btn btn-primary">
		</form>
	</div>
</div>

<div class="accordion" id="accordion2">
	<form class="form-horizontal" action="@link(0, " name")" method="GET">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
					data-parent="#accordion2" href="#collapseOne">Adjust meter
					limits </a>
			</div>
			<div id="collapseOne" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="controls span3" id="sensitivity-div">
						<div id="hearder-sensitivity">
							<h5>Sensitivity limits</h5>
						</div>

						<div class="control-group">
							<label class="control-label" for="lWasteWater">Waste
								water</label>
							<div class="controls">
								<input class="input-mini" id="lWasteWater" type="text"
									placeholder=".input-mini" value="@lWasteWater">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lGroundWaterArea">Ground
								water area</label>
							<div class="controls">
								<input class="input-mini" id="lGroundWaterArea" type="text"
									placeholder=".input-mini" value="@lGroundWaterArea">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lPressurePipe">Pressure
								pipe</label>
							<div class="controls">
								<input class="input-mini" id="lPressurePipe" type="text"
									placeholder=".input-mini" value="@lPressurePipe">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lFloorArea">Relative
								floor area</label>
							<div class="controls">
								<input class="input-mini" id="lFloorArea" type="text"
									placeholder=".input-mini" value="@lFloorArea">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lRoadClass">Road
								classification</label>
							<div class="controls">
								<input class="input-mini" id="lRoadClass" type="text"
									placeholder=".input-mini" value="@lRoadClass">
							</div>
						</div>

					</div>

					<div class="controls span3">
						<div id="hearder-sensitivity">
							<h5>Condition limits</h5>
						</div>


						<div class="control-group">
							<label class="control-label" for="lWasteWater">Blockages</label>
							<div class="controls">
								<input class="input-mini" id="lWasteWater" type="text"
									placeholder=".input-mini" value="@lWasteWater">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lGroundWaterArea">Flushing
								events</label>
							<div class="controls">
								<input class="input-mini" id="lGroundWaterArea" type="text"
									placeholder=".input-mini" value="@lGroundWaterArea">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lPressurePipe">Extra
								water</label>
							<div class="controls">
								<input class="input-mini" id="lPressurePipe" type="text"
									placeholder=".input-mini" value="@lPressurePipe">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lFloorArea">Sum of
								CCTVs</label>
							<div class="controls">
								<input class="input-mini" id="lFloorArea" type="text"
									placeholder=".input-mini" value="@lFloorArea">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="lRoadClass">Sum of
								CCTVs with 3&4</label>
							<div class="controls">
								<input class="input-mini" id="lRoadClass" type="text"
									placeholder=".input-mini" value="@lRoadClass">
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
					data-parent="#accordion2" href="#collapseTwo">Filter meter values</a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">Anim pariatur cliche...</div>
			</div>
		</div>
		<input type="submit" id="searchsubmit"
			value="Refresh index calculation" class="btn btn-primary">
	</form>

</div>
<div id="paddingToRow" class="row"></div>




@if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    @header("pipeIdentifier", "Identifier")
                    @header("annualWasteWaterFlowMeter.meterValue", "Waste Water")
                    @header("groundWaterAreaMeter.meterValue", "Ground Water Area")
                    @header("pressureMeter.meterValue", "Pressure Pipe")
                    @header("relativeFloorAreaMeter.meterValue", "Relative Floor Area")
                    @header("roadClassificationMeter.meterValue", "Road Classification")
                    @header("indexValue", "Sensitivity Index")
                </tr>
            </thead>
            <tbody>

                @for(index <- currentPage.getList) {
                    <tr>
                        <td>@index.pipeIdentifier</td>
                        <td>
                        	@index.annualWasteWaterFlowMeter.meterValue
                        </td>
                        <td>
                            @index.groundWaterAreaMeter.meterValue
                        </td>
                        <td>
                            @index.pressureMeter.meterValue
                        </td>                        
                        <td>
                        	@index.relativeFloorAreaMeter.meterValue
                        </td>
                        <td>
                            @index.roadClassificationMeter.meterValue
                        </td>
                        <td>
                            @index.indexValue
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
        
}

            