@(currentPage: Component.AreaMeterList, currentSortBy: String, currentOrder: String, currentFilter: String, wExtra: Int, wCCTV: Int, wOperational: Int, wSensitivity: Int)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Application.psareas(newPage, sortBy, order, currentFilter, wExtra, wCCTV, wOperational, wSensitivity)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main {
    
    <div id="adjustmentRow" class="row">
    	<div class="control-group">
    		<p class="pull-left">Adjust Meter Weights</p>
    		<div class="controls span8">
    		<form action="@link(0, "name")" method="GET">
    			<div class="input-prepend">
				<span id="spanwidth" class="add-on">Extra Water (%)</span>
				<input class="span1" id="prependedInput" type="text" placeholder="Percentage" name="we" value="@wExtra">
				</div>
    			<div class="input-prepend">
				<span id="spanwidth" class="add-on">CCTV Condition (%)</span>
				<input class="span1" id="prependedInput" type="text" placeholder="Percentage" name="wcctv" value="@wCCTV">
				</div>
    			<div class="input-prepend">
				<span id="spanwidth" class="add-on">Operational Disturbance (%)</span>
				<input class="span1" id="prependedInput" type="text" placeholder="Percentage" name="wo" value="@wOperational">
				</div>
    			<div class="input-prepend">
				<span id="spanwidth" class="add-on">Social Sensitivity (%)</span>
				<input class="span1" id="prependedInput" type="text" placeholder="Percentage" name="ws" value="@wSensitivity">
				</div>
				<input type="submit" id="searchsubmit" value="Apply weights for PI" class="btn btn-primary">
			</form>
			</div>
		</div>
	</div>

	<div id="paddingToRow" class="row">
	</div>
	<h1 id="homeTitle">@Messages("meters.list.title", currentPage.getTotalRowCount)</h1>

    <div id="actions">
        
        <form action="@link(0, "name")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="@Messages("filter.box")">
            <input type="submit" id="searchsubmit" value="@Messages("filter.button")" class="btn btn-primary">
        </form>
        
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    @header("name", "Component name")
                    @header("extraWaterMeter", "Extra Water")
                    @header("conditionCCTVMeter", "CCTV Condition Meter")
                    @header("operationalDisturbanceMeter", "Operational Disturbance Meter")
                    @header("socialSensitivityMeter", "Social Sensitivity Meter")
                    @header("performanceIndex", "Performance Index")
                </tr>
            </thead>
            <tbody>

                @for(areaAndMeter <- currentPage.getList) {
                    <tr>
                        <td>@areaAndMeter.component.name</td>
                        @if(areaAndMeter.extraWaterMeter == wExtra) {
                        <td class="successtd">
                        	@areaAndMeter.component.componentDetail.extraWaterMeter | @areaAndMeter.extraWaterMeter
                        </td>
                        } else {
                        <td>
                        	@areaAndMeter.component.componentDetail.extraWaterMeter | @areaAndMeter.extraWaterMeter
                        </td>
                        }
                        @if(areaAndMeter.component.componentDetail.CCTVConditionMeter == 0) {
                        <td>
                            No Inspections
                        </td>
                        } else {
                        @if(areaAndMeter.conditionCCTVMeter == wCCTV) {
                        <td class="successtd">
                            @areaAndMeter.component.componentDetail.CCTVConditionMeter | @areaAndMeter.conditionCCTVMeter
                        </td>
                        } else {
                        <td>
                            @areaAndMeter.component.componentDetail.CCTVConditionMeter | @areaAndMeter.conditionCCTVMeter
                        </td>
                        }
                        }
                        @if(areaAndMeter.component.componentDetail.operationalDisturbance == 0) {
                        <td>
                            No Blockage & Flushing
                        </td>
                        } else {
                        @if(areaAndMeter.operationalDisturbanceMeter == wOperational) {
                        <td class="successtd">
                            @areaAndMeter.component.componentDetail.operationalDisturbance | @areaAndMeter.operationalDisturbanceMeter
                        </td>
                        } else {
                        <td>
                            @areaAndMeter.component.componentDetail.operationalDisturbance | @areaAndMeter.operationalDisturbanceMeter
                        </td>                        
                        }
                        }
                        @if(areaAndMeter.socialSensitivityMeter == wSensitivity) {
                        <td class="successtd">
                            @areaAndMeter.component.componentDetail.socialSensitivity | @areaAndMeter.socialSensitivityMeter
                        </td>
                        } else {
                        <td>
                            @areaAndMeter.component.componentDetail.socialSensitivity | @areaAndMeter.socialSensitivityMeter
                        </td>                        
                        }
                        <td>
                            @areaAndMeter.pi
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
        
}

            